.productList {
  .cartProductsList {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 254, 242, 0.1);
    font-size: 16px;
    flex-basis: 0;
    width: 100%;

    .productName {
      flex: 1.8;
    }
    .productSize {
      flex: 1.8;
    }
    .productCount {
      width: 70px;
      height: 40px;
      border: 1px solid rgba(255, 254, 242, 0.1);
      text-align: center;
      background-color: inherit;
      font-size: 18px;
      color: #bcbbb4;
      margin-right: 30px;
      cursor: pointer;
    }
    .deleteButton {
      color: #252525;
      cursor: pointer;
      &:hover {
        color: #bcbbb4;
      }
    }
    .productPrice {
      flex: 1.4;
      margin-right: 10px;
      text-align: end;
    }
  }
}
