@keyframes loginPopup {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  padding: 50px 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;

  .loginModal {
    display: flex;
    flex-direction: column;
    padding: 50px;
    min-width: 150px;
    width: 500px;
    height: 580px;
    background-color: #fffef2;
    margin: 0 auto;
    animation: 0.25s ease-in-out loginPopup;
    button {
      border: none;
      cursor: pointer;
    }

    .exitButton {
      background-color: #fffef2;
      color: #40303d;
      display: flex;
      margin-left: auto;
      width: 20px;
      height: 20px;
    }
    .loginModule {
      margin-top: 30px;
      display: flex;
      flex-direction: column;

      .loginName {
        height: 42px;
        font-size: 30px;
        font-weight: 400;
        color: #333333;
        text-align: left;
        margin: 0px;
      }

      .loginForm {
        display: flex;
        flex-direction: column;
        min-width: 150px;
        max-width: 500px;
        .label {
          margin-bottom: 15px;
          position: relative;
          border: none;
        }
        .label:focus-within > .inputSpan,
        .emailInput:not(:placeholder-shown) + .inputSpan {
          color: #666666;
          transform: translateY(5px);
          font-size: 0.8em;
        }
        .emailInput::placeholder {
          opacity: 0;
        }
        .passwordInput:not(:placeholder-shown) + .inputSpan {
          color: #666666;
          transform: translateY(5px);
          font-size: 0.8em;
        }
        .passwordInput::placeholder {
          opacity: 0;
        }
        .inputSpan {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(20px);
          font-size: 1.8em;
          transition-duration: 300ms;
          color: #666666;
        }
        .emailInputWrapper {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #cccccc;
          padding: 30px 0px 0px;
        }

        .passwordInputWrapper {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #cccccc;
          padding: 30px 0px 0px;
          height: 65px;
          .passwordInput {
            background-color: #fffef2;
            border: none;
            font-size: 22px;
            color: #434342;
            height: 40px;
            outline: none;
            margin-top: 20px;
          }
        }

        .emailInput {
          background-color: #fffef2;
          border: none;
          height: 20px;
          outline: none;
          font-size: 22px;
          color: #434342;
          padding: 25px 0px 0px;
          margin-top: 12px;
        }

        .passwordView {
          background-color: #fffef2;
          font-size: 16px;
          color: #666666;
        }
        .passwordReset {
          background-color: #fffef2;
          color: #666666;
          font-size: 14px;
          display: flex;
          height: 80px;
          align-items: flex-start;
          justify-content: flex-end;
          padding-top: 10px;
        }
        .loginButton {
          background-color: #333333 !important;
          color: #fffef2;
          height: 60px;
          display: flex;
          width: 100%;
          align-items: center;
          font-size: 17px;
          justify-content: center;
          text-align: center;

          // &:hover {
          //   background-color: #000000 !important;
          // }
        }
      }
      .memberComment {
        margin-top: 30px;
        font-size: 22px;
        color: #333333;
        text-align: left;
      }
      .signupButton {
        margin: 20px 0px 0px;
        color: #333333;
        background-color: #fffef2;
        border: 1px solid #cccccc;
        display: flex;
        align-items: center;
        font-size: 17px;
        justify-content: center;
        height: 60px;
        text-align: center;
        &:hover {
          background-color: #333333 !important;
          color: #fffef2;
        }
      }
    }
  }
}
