.ProductContentWrapper {
  display: flex;
  padding-top: 30px;
  padding-bottom: 100px;
  background-color: #fffef2;

  h2 {
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
  }

  p {
    margin-bottom: 15px;
    color: #666;
  }

  .logoContainer {
    height: 10vh;
    display: flex;
    align-items: flex-end;
    margin-left: 60px;
    margin-bottom: 10px;
    cursor: pointer;
    img {
      width: 7.5vw;
      min-width: 100px;
      max-width: 130px;
      height: auto;
    }
  }
  .ProductLeftImage {
    width: calc(100% * 8 / 12);
    display: flex;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
    .ImageWrapper {
      img {
        height: auto;
        width: 440px;
      }
    }
  }
  .ProductRightDescription {
    margin: 60px 50px 30px 30px;
    width: calc(100% * 4 / 12);
    .ProductRightDescriptionWrapper {
      width: 400px;
      .ProductDetailCategory {
        margin-bottom: 15px;
        font-size: 14px;
        color: #333;
      }
    }
    .ProductName {
      margin-bottom: 15px;
      border-bottom: 2px solid #4a4a4a;
      .ProductTitle {
        font-weight: 600;
        font-size: 28px;
        margin-bottom: 15px;
        line-height: 1.33;
      }
      .ProductDescription {
        margin-bottom: 15px;
        font-size: 14px;
      }
    }
    .ProductDetailWrapper {
      font-size: 14px;
      div {
        border-bottom: 0.5px solid #d5d4c9;
      }
    }
    .AddToCartButton {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #333;
      height: 60px;
      width: 400px;
      margin-top: 30px;
      cursor: pointer;
      span {
        background-color: transparent;
        color: #fffef2;
        font-size: 14px;
      }

      &:hover {
        background-color: black;
      }
    }
  }
}
