.itemList {
  input[type='checkbox'] {
    -webkit-appearance: none;
    position: relative;
    width: 14px;
    height: 14px;
    top: 4.5px;
    margin-right: 10px;
    cursor: pointer;
    outline: none !important;
    border: 1px solid #c1c1c1;
  }

  input[type='checkbox']::before {
    content: '\2713';
    position: absolute;
    top: 60%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
  }

  input[type='checkbox']:checked {
    border: 1px solid #c1c1c1;
    color: rgb(97, 97, 97);
  }

  input[type='checkbox']:checked::before {
    border-radius: 2px;
    transform: scale(1) translate(-50%, -50%);
  }

  label:hover {
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
}
