@keyframes filter {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes addCartBtn {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.filterNavWrap {
  width: 100vw;
  .logoContainer {
    height: 17vh;
    display: flex;
    align-items: flex-end;
    margin-left: 40px;
    margin-bottom: 10px;
    img {
      cursor: pointer;
      width: 8.5vw;
      min-width: 100px;
      max-width: 130px;
      height: auto;
    }
  }
  .subCategoryName {
    height: 8vh;
    display: flex;
    align-items: center;
    margin-left: 40px;

    span {
      font-size: 22px;
      font-weight: 900;
    }
  }
  .subCategoryNav {
    background-color: #eeeee1;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 40px;

    .allItem {
      font-size: 13.5px;
      color: #373737;
      display: flex;
    }

    .subCategory {
      display: grid;
      height: 100%;
      grid-template-columns: 1fr 7fr;
      font-size: 13.5px;
      color: #373737;

      .allSkin {
        display: flex;
        height: 100%;
        align-items: center;
        li {
          display: flex;
          margin-left: 10px;
          margin-right: 10px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            text-underline-position: under;
          }
        }
      }

      .subItem {
        display: flex;
        height: 100%;
        li {
          display: flex;
          margin-left: 10px;
          margin-right: 10px;
          button {
            cursor: pointer;
          }
          &:hover {
            text-decoration: underline;
            text-underline-position: under;
          }
        }
      }
    }
  }
  .filterBtn {
    width: 80px;
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    border: 1px solid #c7c7c7;

    span {
      margin-left: 14px;
      font-size: 13.5px;
    }
    img {
      width: 11px;
      height: 11px;
      margin-right: 15px;
    }
    &:hover {
      background-color: #373737;
      color: white;
      transition: 0.3s ease-in;
      img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(8deg)
          brightness(108%) contrast(108%);
      }
    }
  }
  .cancelBtn {
    padding-right: 10px;

    img {
      width: 11px;
      height: 11px;
    }
  }

  .filterContainer {
    background-color: #eeeee1;
    animation: 0.3s ease-out filter;
    width: 100vw;
    height: auto;
  }
  .productPage {
    display: flex;
    width: 100vw;
    .details {
      display: grid;
      width: 100%;
      gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      .container {
        display: flex;

        .containerWrapper {
          display: grid;
          width: 100%;
          padding-top: 50px;
          flex-direction: column;
          animation: 0.8s ease-out addCartBtn;

          .mainContainer {
            display: grid;
            grid-template-rows: 400px 100px 60px 60px;

            .imgContent {
              display: flex;
              align-items: flex-end;
              height: 100%;
              justify-content: center;
              position: relative;
              img {
                cursor: pointer;
                width: 368px;
                object-fit: contain;
              }
            }
            .productName {
              width: 100%;
              font-size: 14px;
              .price {
                display: flex;
                justify-content: center;
                p {
                  padding: 2px;
                }
              }

              h4 {
                color: #252525;
                margin-bottom: 10px;
                text-align: center;
                font-weight: 400;
              }
              .productSize {
                color: #666;
                text-align: center;
                margin: 10px 0 30px 0;
              }
            }
            margin: 0 40px 0 30px;
            .typeValue {
              letter-spacing: 1px;
            }
            .productType {
              display: flex;
              padding: 9px;
              align-items: center;
              border-top: 2px solid #252525;
              h2 {
                color: #252525;
                font-size: 13.5px;
                font-weight: 600;
                width: 20%;
              }
              p {
                color: #666;
                font-size: 13px;
                width: 80%;
              }
            }
            .productUse {
              display: flex;
              padding: 9px;
              align-items: center;
              border-top: 1px solid rgba(51, 51, 51, 0.2);
              border-bottom: 1px solid rgba(51, 51, 51, 0.2);
              h2 {
                color: #252525;
                font-size: 13.5px;
                font-weight: 600;
                width: 20%;
              }
              p {
                color: #666;
                font-size: 13px;
                width: 80%;
              }
            }
          }
          .addCartButton {
            opacity: 0;
            border: 0;
            width: 100%;
            background-color: #333;
            height: 63px;
            text-align: center;
            margin-top: 10px;
            .addCart {
              font-size: 15px;
              color: #fffef2;
            }
          }
        }
        &:hover {
          background-color: #f9f7e6;
          .addCartButton {
            opacity: 1;
            animation: 0.5s ease-out addCartBtn;
          }
        }
      }
    }
  }
}
