.containerWrap {
  padding: 10vh 0 10vh 0;

  .leftContainer {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    gap: 5%;
    margin-left: 5%;

    video {
      width: 100%;
    }
  }

  .rightContainer {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    gap: 5%;
    padding-top: 15vh;
    margin-right: 5%;

    img {
      width: 100%;
    }
  }
}
