@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fffef2;
  font-size: 13.49px;
  text-align: center;
}
.pageContainer {
  height: 41px;
  background-color: #a6672b;

  padding: 10px 20px;
  a {
    margin-left: 10px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.slideContainer {
  height: 41px;
  background-color: #252525;
  padding: 8px 20px 8px;
  button {
    background-color: transparent;
    border: 0px;
    padding-left: 0px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      border-bottom: 1.2px solid white;
    }
    p {
      display: inline;
    }
    img {
      height: 11px;
      width: 11px;
      margin-left: 23px;
    }
  }

}
