.container {
  display: flex;

  justify-content: flex-start;
  overflow-y: scroll;
  .firstBox {
    height: 100%;
    margin: 180px 100px 10px 60px;
    img {
      width: 90px;
      height: 50px;
      position: fixed;
    }
  }
  .secondBox {
    margin-top: 150px;
    margin-bottom: 170px;
    margin-left: 300px;
    width: 824px;

    h2 {
      display: inline-block;
      width: 80%;
      font-size: 30px;
      margin-bottom: 60px;
      color: #333333;
    }
    button {
      cursor: pointer;
      align-items: flex-end;
    }
    h3 {
      font-size: 24px;
      margin: 0 0;
      color: #666666;
    }
    .info {
      margin-bottom: 150px;
    }
    h4 {
      padding-top: 30px;
      font-size: 19px;
      margin: 0 0;
      color: #666666;
      margin-bottom: 150px;
    }
    .pay {
      h3 {
        margin-bottom: 150px;
      }
    }
    .finishBtn {
      margin-top: 140px;
      padding: 20px 60px;
      background-color: #333333;
      color: white;
    }
  }
  .orderForm {
    width: 670px;
    border-top: #333333 2px solid;
    border-bottom: #333333 2px solid;
    p {
      color: #494949;
      padding-top: 10px;
      font-size: 19px;
    }
    .priceSize {
      width: 670px;
      border-bottom: #d3d3d3 1px solid;
      display: flex;
      justify-content: space-between;
      p {
        display: inline-block;
        color: #7d7d7d;
        font-size: 15px;
      }
    }
  }
  .deliveryInfo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    .d_right {
      color: #7d7d7d;
      font-size: 15px;
    }
  }
  .totalPrice {
    color: #5d5d5d;
    font-size: 25px;
    padding-top: 5px;
  }
}
