.container {
  padding: 50px 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;

  .signupModal {
    display: flex;
    flex-direction: column;
    background-color: #fffef2;
    margin: 0 225px;
    min-width: 150px !important;
    max-width: 510px !important;
    height: 700px;
    padding: 50px;
    margin: 0 auto;
    overflow: auto;

    .label {
      margin-bottom: 15px;
      position: relative;
      border: none;
    }
    .label:focus-within > .inputSpan,
    input:not(:placeholder-shown) + .inputSpan {
      color: #666666;
      transform: translateY(-5px);
      font-size: 0.8em;
    }
    input::placeholder {
      opacity: 0;
    }
    .inputSpan {
      position: absolute;
      top: 0px;
      left: 1px;
      transform: translateY(10px);
      font-size: 1.8em;
      transition-duration: 300ms;
      color: #666666;
    }

    button {
      border: none;
      background-color: #fffef2;
      cursor: pointer;
    }
    input {
      border: none;
      background-color: #fffef2;
    }

    .buttonWrapper {
      display: flex;
      justify-content: space-between;
      img {
        width: 20px;
        height: 20px;
      }
    }

    .loginForm {
      display: flex;
      flex-direction: column;
      margin: 40px 0px 0px;
      min-width: 150px;
      max-width: 500px;

      input {
        outline: none;
        margin-right: 10px;
      }
      .checkBoxModule {
        display: flex;
        margin: 15px 0px 0px;
        font-size: 14px;
        color: #333333;

        .checkBox[type='checkbox'] {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: #fffef2;
          cursor: pointer;
          height: 16px;
          outline: 0;
          width: 16px;
          border: 1px solid #bcbbb4;
        }
        .checkBox[type='checkbox']::after {
          border: 1px solid #000000;
          border-width: 0 2px 2px 0;
          content: '';
          display: none;
          height: 40%;
          left: 40%;
          position: relative;
          top: 20%;
          transform: rotate(45deg);
          width: 15%;
        }
        .checkBox[type='checkbox']:checked {
          background: #fffef2;
        }
        .checkBox[type='checkbox']:checked::after {
          display: block;
        }
      }
      .signupName {
        font-size: 30px;
        color: #333333;
        text-align: left;
      }

      .signupInfo {
        font-size: 15px;
        color: #666666 !important;
        margin: 10px 0px 30px 0px;
      }

      .nameInputWrapper {
        display: flex;

        .lastNameInput {
          margin: 0px 20px 35px 0px;
          padding: 25px 0px 0px;
          width: 240px;
          border-bottom: 1px solid #cccccc;
          font-size: 24px;
        }
        .firstNameInput {
          margin: 0px 0px 35px;
          padding: 25px 0px 0px;
          width: 240px;
          border-bottom: 1px solid #cccccc;
          font-size: 24px;
        }
      }
      .emailInput {
        margin: 0px 0px 35px;
        padding: 25px 0px 0px;
        border-bottom: 1px solid #cccccc;
        font-size: 24px;
        width: 500px;
      }

      .passwordInputWrapper {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #cccccc;
        padding: 25px 0px 0px;
        margin: 0px 0px 35px;
        height: 50px;
        .passwordInput {
          width: 400px;
          font-size: 24px;
          padding-top: 20px;
        }
        .passwordView {
          background-color: #fffef2;
          font-size: 16px;
          color: #666666;
        }
      }

      .signupButton {
        margin: 30px 0px 0px;
        padding: 19px 23px;
        height: 22px;
        background-color: #333333 !important;
        color: #f6f5e8;
        font-size: 14px;
        display: flex;
        justify-content: center;
        text-align: center;
        &:hover {
          background-color: #000000 !important;
        }
      }
      .haveIdButton {
        margin: 15px 0px 0px;
        color: #666666;
        font-size: 14px;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 30px;
        &:hover {
          color: #333333;
        }
      }
    }
  }
  .checkBoxModule {
    text-align: left;
  }
}
