@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
.container {
  font-family: 'Noto Sans KR', sans-serif;
  height: 90%;
  overflow-y: scroll;

  h1 {
    text-align: left;
    padding-left: 30px;
    font-size: 18px;
    color: #404040 !important;
    padding-top: 7px;
    cursor: pointer;
    width: auto;
  }
  padding-top: 200px;
  border-left: #d6d5cb solid 1px;
  height: 100%;
}
.likeItem {
  p {
    color: #404040 !important;
    padding-left: 50px;
    text-align: left !important;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  h1 {
    color: #515151 !important;
  }
  padding-top: 20px;
  color: #404040 !important;
}
.result {
  width: 70%;
  height: 80%;
  overflow-y: scroll;
}
